# .gitignore content

# Exclude testing files in the "old" subfolder 
old/

.venv/              # Python virtual environment folder
__pycache__/        # Python compiled bytecode
*.pyc               # Python compiled bytecode files

.DS_Store           # macOS specific metadata files