beautifulsoup4==4.13.4
certifi==2025.7.9
charset-normalizer==3.4.2
cycler==0.12.1
fonttools==4.58.5
google-auth==2.40.3
gspread==6.2.1
idna==3.10
kiwisolver==1.4.8
matplotlib==3.10.3
numpy==2.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pure_eval==0.2.3
python-dateutil==2.9.0.post0
requests==2.32.4
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
urllib3==2.5.0
